* {
    border: 1px solid green;
    color: white;
    font: 1rem Inconsolata, monospace;
}

.button {
    height: 50px;
    width: 100px;
    border: 2px solid black;
    border-radius: 3px;
    background-color: black;
}

body {
    
    justify-items: center;
    justify-content: center;
    background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  height: 100vh;
}

.button-wrap {
    display: flex;
    
    justify-content: space-around;
}

.body {
    display: flex;
    justify-content: center;
}

header {
    display:flex ;
    justify-content: center;
}